################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
bin/
obj/
.vscode/
KNNClassifierExperimental/top_results.txt
KNNClassifierExperimental/top_top_results.txt
